@{
    ViewBag.Title = "Chart";
}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
</script>

<script type="text/javascript">

    function drawVisualization() {
        $.get('ChartDataJsonResult', {}, function(data) {
            var tdata = new google.visualization.DataTable();

            tdata.addColumn('string', 'Destination');
            tdata.addColumn('number', 'Data Amount (B)');

            for (var i = 0; i < data.length; i++) {
                tdata.addRow([data[i].Destination, data[i].Amount]);
            }

            // Create and draw the visualization.
            new google.visualization.BarChart(document.getElementById('chartdiv')).
                draw(tdata, { title: "HTTP Data Amount to Addresses" });


        });
    };

    google.setOnLoadCallback(drawVisualization);

</script>

<h2>HTTP Data Flow</h2>

@Html.Partial("_HttpSubMenu")

<div id="chartdiv" style="height: 500px; width: 80%">
</div>  

