@model IEnumerable<Colorado.Models.Dashboard>

@{
    ViewBag.Title = "Index";
}

<h2>OMS Dashboards</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Dashboard
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Show", "Index", item.Src)
        </td>
    </tr>
}

</table>
